html, body{
    padding:0px;
    margin:0px;
    background:#222;
    font-family: monospace;
    color:#FFF;
    text-align:center;
    margin-top:40px;
    font-weight:600;
 }
 
 div{
    position:relative;
 }
 
 span{
    position:relative;
    display:inline-block;
    transition:all 1.5s;
 }